<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiendaRecargas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.css" />
    <link href="~/lib/bootstrap-switch-button/bootstrap-switch-button.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="position-absolute d-sm-none" style=" top: 10px;
        float: right;
        z-index: 99999;
        opacity: 0.7;
        right: 10px;
        background: green;
        padding: 5px;
        border-radius: 5px;
        color: white;
    ">
        <a class="nav-link text-white p-1" asp-controller="Config" asp-action="Index"><i class="fas fa-user-circle"></i> $@TempData["Fondos"] USD</a>
    </div>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item d-none d-sm-block">
                            <a class="nav-link text-dark" asp-controller="Config" asp-action="Index">
                                <div class="text-nowrap btn btn-success  text-white cursor-pointer"><i class="fas fa-user-circle"></i> <span> ($@TempData["Fondos"] USD)</span></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Login" asp-action="Salir">
                                <div class="btn btn-outline-secondary"><i class="fas fa-sign-out-alt"></i> Salir</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark textalign-center" asp-area="" asp-controller="Home" asp-action="Index"> <i class="fas fa-home"></i> Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark textalign-center" asp-authorize asp-roles="@RolesSistema.Vendedor,@RolesSistema.Subvendedor" asp-area="" asp-controller="Recargas" asp-action="Historial"> <i class="fas fa-home"></i> Historial</a>
                        </li>
                        <li class="nav-item" asp-authorize asp-roles="@RolesSistema.Administrador">
                            <a class="nav-link text-dark textalign-center" asp-controller="Cuenta" asp-action="Index"><i class="fas fa-user-shield"></i> Vendedores</a>
                        </li>

                        <li class="nav-item dropdown" data-toggle="tooltip" data-placement="right" title="Área de produtos" asp-authorize asp-roles="@RolesSistema.Administrador">
                            <a class="m-1 nav-link  dropdown-toggle text-dark textalign-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-clock mr-1"></i>Historial
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="m-1 dropdown-item text-dark btn btn-outline-primary" asp-area="" asp-controller="VentasPorCuentas" asp-action="Index">
                                    <i class="fab fa-buffer fa-1x mr-2"></i>Recargas por cuentas
                                </a>
                                <a class="m-1 dropdown-item text-dark btn btn-outline-primary" asp-area="" asp-controller="Movimientos" asp-action="Index">
                                    <i class="fa fa-dollar-sign fa-1x mr-2"></i>Movimientos
                                </a>
                                <a class="m-1 dropdown-item text-dark btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Index">
                                    <i class="fa fa-dollar-sign fa-1x mr-2"></i>Accounts
                                </a>

                            </div>
                        </li>

                        @*<li class="nav-item" asp-authorize asp-roles="@RolesSistema.Administrador">
                                <a class="nav-link text-dark textalign-center" asp-controller="VentasPorCuentas" asp-action="Index"><i class="fas fa-clock"></i>Historial</a>
                            </li>*@
                        <li class="nav-item" asp-authorize asp-roles="@RolesSistema.Vendedor">
                            <a class="nav-link text-dark textalign-center" asp-controller="Cuenta" asp-action="Index"><i class="fas fa-user-shield"></i> Mis asociados</a>
                        </li>
                        <li class="nav-item" asp-authorize asp-roles="@RolesSistema.Administrador">
                            <a class="nav-link text-dark textalign-center" asp-controller="RecargaValores" asp-action="Index"><i class="fas fa-dollar-sign"></i> Valores</a>
                        </li>
                        <li class="nav-item" asp-authorize asp-roles="@RolesSistema.Administrador">
                            <a class="nav-link text-dark textalign-center" asp-controller="Promociones" asp-action="Index"><i class="fas fa-dollar-sign"></i> Promociones</a>
                        </li>
                        <li class="nav-item" asp-authorize asp-roles="@RolesSistema.Administrador">
                            <a class="nav-link text-dark textalign-center" asp-controller="Credenciales" asp-action="Index"><i class="fas fa-key"></i> Credenciales</a>
                        </li>
                        <li class="nav-item" asp-authorize asp-roles="@RolesSistema.Administrador">
                            <a class="nav-link text-dark textalign-center" asp-controller="Configuracion" asp-action="Edit"><i class="fas fa-cog"></i> Configuracion</a>
                        </li>
                        <li class="nav-item" asp-authorize asp-roles="@RolesSistema.Vendedor,@RolesSistema.Subvendedor">
                            <a class="nav-link text-dark textalign-center" asp-controller="Recargas" asp-action="Index"> <i class="fas fa-cart-plus"></i> Recargar</a>
                        </li>
                        <li class="nav-item" asp-authorize asp-roles="@RolesSistema.Vendedor,@RolesSistema.Subvendedor">
                            <a class="nav-link text-dark textalign-center" asp-controller="Recargas" asp-action="Facturacion"> <i class="fas fa-cart-plus"></i> Facturacion</a>
                        </li>
                    </ul>

                    @*<ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark textalign-center" asp-area="" asp-controller="Home" asp-action="Index"> <i class="fas fa-home"></i> Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark textalign-center" asp-area="" asp-controller="Recargas" asp-action="Historial"> <i class="fas fa-home"></i> Historial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark textalign-center" asp-controller="Cuenta" asp-action="Index"><i class="fas fa-user-shield"></i> Cuentas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark textalign-center" asp-controller="RecargaValores" asp-action="Index"><i class="fas fa-dollar-sign"></i> Valores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark textalign-center" asp-controller="Recargas" asp-action="Index"> <i class="fas fa-cart-plus"></i> Recargar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark textalign-center" asp-controller="Recargas" asp-action="Facturacion"> <i class="fas fa-cart-plus"></i> Facturacion</a>
                            </li>
                        </ul>*@



                </div>
            </div>

        </nav>
    </header>

    @if (TempData["Simulate"] != null)
        @if ((bool)TempData["Simulate"])
        {
            <div class="alert alert-primary  text-center w-100" style="color:red">Simulación</div>
        }


        <div class="p-4">

            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - TiendaRecargas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/lib/limonte-sweetalert2/sweetalert2.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-switch-button/bootstrap-switch-button.js"></script>
        <script src="~/lib/font-awesome/js/all.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await Html.PartialAsync("_notificationPartial")
        @RenderSection("Scripts", required: false)
    </body>
</html>
