@model IEnumerable<TiendaRecargas.Models.Promociones>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Primer día de la semana
            </th>

            <th>
              Promoción
            </th>

            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.primerDiaSemana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.texto)
                </td>

                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
