@model TiendaRecargas.Models.Recarga
@using System.Globalization;

@{
    ViewData["Title"] = "Index";
}

@*SELECIONA EL idValorRecarga seleccionado cuando el Model.IsInvalid*@
@if (Model != null)
{
    <input id="isValorSeleccionado" type="hidden" asp-for="@Model.idValorRecarga" />
}

<div class="row d-flex justify-content-center">
    <div class="col-md-6 col-lg-5">

        <form id="formCreate" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (ViewBag.Promocion != null)
            {
                <div class="alert alert-info">
                    @ViewBag.Promocion
                </div>
            }

            <input type="hidden" asp-for="bono" value="@ViewBag.bono" />

            <div class="form-group">
                <select id="tipoRecarga" asp-for="tipoRecarga" asp-items="Html.GetEnumSelectList<TipoRecarga>()" class="form-control form-control-sm">
                </select>
                <span asp-validation-for="tipoRecarga" class="text-danger"></span>
            </div>

            <div class="row mb-0">

                @*MOVIL*@
                <div id="numeroMovil" class="form-group col-8">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">+53</span>
                        </div>
                        <input id="inputNumero" class="form-control form-control-sm" asp-for="numero" />
                    </div>
                    <span asp-validation-for="numero" class="text-danger"></span>
                </div>

                @*NAUTA*@
                <div id="coreoNauta" class="form-group col-8 mr-0">
                    <div class="input-group input-group-sm">
                        <input id="nauta" class="form-control form-control-sm" type="text" asp-for="nauta" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1" style="font-size:12px">@("@")nauta.com.cu</span>
                        </div>
                    </div>
                    <span asp-validation-for="nauta" class="text-danger"></span>
                </div>

                <div class="form-group col-4 mb-0">
                    <div class="input-group input-group-sm  mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">$</span>
                        </div>
                        <select id="idValorRecarga" asp-for="idValorRecarga" class="form-control form-control-sm">
                        </select>

                    </div>
                    <span asp-validation-for="idValorRecarga" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group mb-2">
                <input class="form-control form-control-sm" asp-for="descripcion" placeholder="Descripción (Opcional)" />
            </div>

            <div class="form-group">
                <input id="btnSubmit" type="submit" value="Adicionar a la lista" class="btn btn-primary form-control form-control-sm mb-2" />
            </div>

        </form>

    </div>
</div>


<div class="card">
    <div class="card-header small">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <b>LISTA DE RECARGAS</b>
            </div>
            <div>
                <a asp-action="RecargarLista" onclick="showLoading()" class="btn btn-success btn-sm">Enviar</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @*BODY CARD*@

        @if (ViewBag.RecargasConError != null)
        {
            <div class="alert alert-danger">Las recargas que no se pudieron enviar quedarán en la lista</div>
        }

        <div class="row">
            @if (ViewBag.RecargasEnLista != null && ViewBag.RecargasEnLista.Count > 0)
            {
                @foreach (var item in ViewBag.RecargasEnLista)
                {
                    var data = "";
                    if (item.TransactionDate != null)
                        data = item.TransactionDate.ToString("F", CultureInfo.CreateSpecificCulture("es-ES"));
                    else
                        data = item.date.ToString("F", CultureInfo.CreateSpecificCulture("es-ES"));

                    var header_style = "";
                    if (item.status == RecargaStatus.error)
                        header_style = "border: 1px solid red;";

                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                        <div class="card">
                            <div class="card-header" style="@header_style">

                                <div class="d-flex justify-content-between">
                                    <div>
                                        @if (item.status == RecargaStatus.error)
                                        {
                                            <i class="fa fa-ban" style="color:red"></i>
                                        }

                                        @(item.descripcion is null ?" ":item.descripcion)
                                    </div>
                                    <div>
                                        <a class="cursor-pointer" onclick="DeleteRecarga(@item.id)"><i style="color:orangered" class="fas fa-trash"></i></a>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">

                                <table class="w-100">
                                    <tr>
                                        <td>
                                            <div class="d-block" style="font-weight:700">
                                                <div>
                                                    @if (item.tipoRecarga == TipoRecarga.movil)
                                                    {
                                                        <span>Número</span>
                                                    }
                                                    @if (item.tipoRecarga == TipoRecarga.nauta)
                                                    {
                                                        <span>Usuario</span>
                                                    }
                                                </div>
                                                <div>País</div>
                                                <div>Operadora</div>
                                                <div>Tipo Producto</div>
                                                <div>Valor</div>
                                                <div>Recibe en Cuba</div>
                                                <div>Total a Pagar</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div>
                                                    @item.numero
                                                </div>
                                            </div>
                                            <div>Cuba</div>
                                            <div>
                                                @if (item.tipoRecarga == TipoRecarga.movil)
                                                {
                                                    <span>Cubacel Cuba</span>
                                                }
                                                @if (item.tipoRecarga == TipoRecarga.nauta)
                                                {
                                                    <span>NAUTA Cuba</span>
                                                }
                                            </div>
                                            <div>Top-up</div>
                                            <div>$@item.valor.ToString("F2") USD</div>
                                            <div>$@(item.recibe.ToString("F2")) CUP</div>
                                            <div>$@item.monto.ToString("F2") USD</div>
                                        </td>
                                    </tr>

                                    @if (item.bono != null && item.tipoRecarga == TipoRecarga.movil)
                                                    {
                                        <tr>
                                            <td colspan="2">
                                                <div class="alert alert-info">
                                                    <p>
                                                        <b>Bono: </b> @item.bono
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </table>

                                @*<div class="row col-12">
                                        <div class="d-flex justify-content-between">
                                            <table>
                                                <tr>
                                                    <td style="font-weight:600">Valor</td>
                                                    <td>: $@item.valor.ToString("F2") USD</td>
                                                </tr>

                                                <tr>
                                                    <td style="font-weight:600">Monto</td>
                                                    <td>: $@item.monto.ToString("F2") USD</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="card-footer text-muted">
                                <div class="d-flex justify-content-between">
                                    <span>@data</span>
                                </div>
                                @*<div class="row justify-content-between">

                                        <div>
                                            <a class="cursor-pointer" data-toggle="tooltip" data-placement="top" title="Editar Crédito" onclick="EditarCredito(@item.id)">
                                                <i class="fas fa-dollar-sign"></i>
                                            </a>
                                        </div>
                                        <div>
                                            <a asp-action="Edit" asp-route-id="@item.id" class="mr-3"><i style="color:green" class="fas fa-user-edit"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.id"><i style="color:orangered" class="fas fa-trash"></i></a>
                                        </div>
                                    </div>*@

                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row col-12 d-flex justify-content-center">
                    <div style="text-align:center">
                        <h5>No hay recargas en la lista</h5>
                    </div>
                </div>
            }
        </div>

        @*<table class="table table-striped">

                <tbody>
                    @if (ViewBag.RecargasEnLista != null && ViewBag.RecargasEnLista.Count > 0)
                    {
                        @foreach (var item in ViewBag.RecargasEnLista)
                        {
                    <tr>
                        <td class="w-100">
                            <div class="d-flex">
                                @if (item.tipoRecarga == TipoRecarga.movil)
                                {
                                    <img width="20" src="~/img/sim_card.png" />
                                }
                                @if (item.tipoRecarga == TipoRecarga.nauta)
                                {
                                    <img width="20" src="~/img/wifi.png" />
                                }
                                <b>@item.numero</b>
                            </div>
                        </td>
                        <td>
                            <b>@item.descripcion</b>
                        </td>
                        <td>
                            <b>@item.status</b>
                        </td>
                        <td>
                            <b>$@item.monto.ToString("F2")</b>
                        </td>

                        <td>
                            <a class="btn btn-outline-info" onclick="DeleteRecarga(@item.id)"><i style="color:red" class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="text-align:center">
                                <h5>No hay recargas en la lista</h5>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@


        @*FIN BODY CARD*@
    </div>
</div>


@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/jquery.mask.js" asp-append-version="true"></script>
    <script src="~/js/views/recarga/index.js" asp-append-version="true"></script>
}
