@model TiendaRecargas.Models.Cuenta

@{
    ViewData["Title"] = "Details";
   
}

<h1>Details</h1>

<div>
    <h4>Cuenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCuentaPadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCuentaPadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porciento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porciento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiendaFisica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiendaFisica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnviarSMS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnviarSMS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCuenta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
